.header__container {
  height: 100px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: antiquewhite;
}

.header__phone {
  cursor: pointer;
}
.header__phone:hover {
  color: aqua;
}